@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* https://www.shutterstock.com/zh-Hant/blog/101-free-color-combinations-design-inspiration 配色參考 04 92 94 97 99 */
:root {
  --firstColor: #148cc2;
  --secColor: #fac31f;

  --fbColor: #3b5998;
  /*登入時的那個fb按鈕顏色*/
}

/*mycss_reset_start*/
* {
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* transition: all 0.5s ease-out 0s; */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

#app {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 隱藏 number input 的箭頭 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*mycss_reset_end*/

/*Utility_Class_Start*/
.color {
  &-secColor {
    color: var(--secColor);
  }
}

.text-uppercase {
  text-transform: uppercase;
}

/*Utility_Class_End*/

*:has(.hide-text) {
  position: relative
}

.hide-text {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -101%;
  z-index: -1;
}