:root {
  --firstColor: #148cc2;
  --secColor: #fac31f;
  --fbColor: #3b5998;
}

/*mycss_reset_start*/
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px black solid; */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*mycss_reset_end*/

/*Utility_Class_Start*/
.color {
  &-secColor {
    color: var(--secColor);
  }
}

/*Utility_Class_End*/

*:has(.hide-text) {
  position: relative
}

.hide-text {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -101%;
  z-index: -1;
}